header {
  background-color: #444;
  height: 100px;
  margin-bottom:30px;
  margin-bottom: 30px;
  width: 100%;
}

nav {
  width: 960px;
  margin: auto;

}

header img {
  float: left;
margin-top: 15px;
padding-left: 50px;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 200px;
}

header ul li {
margin-top: 40px;
}

a{
  text-decoration: none;
  color: #777;
}

main {
  width: 960px;
  margin: auto;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  display:flex;
  margin-bottom: 30px;
}

section div {
width: calc(50% - 30%);
padding-left: 30px
}

h2 {
  font-size:20px;
  margin-bottom: 10px;
}

section div p {
  height: 300px;
  overflow: auto;
  font-size: 19px;

}

section div div {
  background-color: #000;
  color: #fff;
  width: max-content;
  padding: 10px 30px;
  margin-top: 33px;
  transition: 350ms;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

section div div:hover {
  background-color: green;
}

footer {
  background-color: #444;
  height: 150px;
}